# Игнорируем node_modules
node_modules/

# Игнорируем папку с собранными файлами
build/

# Игнорируем файл с переменными окружения
.env

# Игнорируем редакторские файлы (например, для VS Code)
.vscode/
.idea/

# Логи
*.log

# Игнорируем файлы, созданные ОС
.DS_Store
Thumbs.db
